ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: .5rem 1rem;
    transition: all .3s linear;
    border: 1px solid black;
    cursor: pointer;
    margin: .5rem 0;
}

ul li:hover {
    border: 1px solid #c4c4c4;
}